In [224]:
from os import listdir
import pandas as pd
import numpy as np
from tqdm import tqdm

from nltk.metrics.distance import edit_distance

In [225]:
MISSING = " "

# Load Data

## Charts

In [226]:
files = listdir("../chart")

dfs_chart = {}
for f in files:
    year = f.split("_")[0]
    month = f.split("_")[1].split(".")[0]

    if dfs_chart.get(year) is None:
        dfs_chart[year] = {}
        
    dfs_chart[year][month] = pd.read_csv("../chart/" + f)

In [227]:
dfs_chart["2006"]["Janvier"].head(3)

,Rank,Artist,Music,Artist_wiki,Naissance,Pays d'origine,Origine,Nationalité,Pays,Summary
0,1,juanes,la camisa negra,Juanes,"9 août 1972 (50 ans)medellin, colombie",NaN,NaN,NaN,NaN,"juan esteban aristizábal vásquez, alias juanes..."
1,2,madonna,hung up,Madonna,"16 août 1958 (64 ans)bay city, michigan (états...",NaN,NaN,américaine,NaN,"madonna louise ciccone, dite madonna, née le 1..."
2,3,johnny hallyday,mon plus beau noël,Johnny Hallyday,15 juin 1943 paris 9e (france),NaN,NaN,française,NaN,"jean-philippe smet, dit johnny hallyday, né le..."

In [228]:
chart = []
for k1 in dfs_chart.keys():
    for k2 in dfs_chart[k1].keys():
        chart.append(dfs_chart[k1][k2])
chart = pd.concat(chart)
chart.drop(columns=["Rank"], inplace=True)
chart.drop_duplicates(inplace=True)

## Artists

In [229]:
artist = pd.read_csv("../artist.csv", index_col=0)

In [230]:
artist.head(3)

,Artist_wiki,Naissance,Pays d'origine,Origine,Nationalité,Pays,Summary
Artist,,,,,,,
cali,Cali (chanteur),28 juin 1968 (54 ans)perpignan (pyrénées-orien...,NaN,NaN,française,NaN,"bruno caliciuri, dit cali, est un auteur-compo..."
calogero,Calogero,"30 juillet 1971 (51 ans)échirolles, france",NaN,NaN,française,NaN,"calogero, de son vrai nom calogero joseph salv..."
the middle east,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Analysis

In [231]:
artist.value_counts("Artist_wiki")[:15]

Artist_wiki
Star Academy (France)    4
Koba LaD                 2
113 (groupe)             1
Niall Horan              1
Netsky (musicien)        1
Nessbeal                 1
Nelly Furtado            1
Nelly (rappeur)          1
Nekfeu                   1
Neiman                   1
Nea (chanteuse)          1
Ne-Yo                    1
Naza (rappeur)           1
Nayer                    1
Navis                    1
dtype: int64

In [232]:
artist[artist["Artist_wiki"] == "Koba LaD"]

,Artist_wiki,Naissance,Pays d'origine,Origine,Nationalité,Pays,Summary
Artist,,,,,,,
koba la d,Koba LaD,"3 avril 2000 (22 ans)[1]saint-denis, france",NaN,NaN,NaN,NaN,NaN
koba lad,Koba LaD,"3 avril 2000 (22 ans)[1]saint-denis, france",NaN,NaN,NaN,NaN,NaN

In [201]:
edit_distance("Marianne Jones".lower(), "Brian Jones".lower())/len("Richard Jones")

0.3076923076923077

In [196]:
chart[chart["Artist"] == "Dinor"]

,Artist,Music,Artist_wiki,Naissance,Pays d'origine,Origine,Nationalité,Pays,Summary
98,Dinor,Benef,Dinos (rappeur),30 novembre 1993 (29 ans)Douala ( Cameroun),NaN,NaN,français,NaN,"Dinos, anciennement Dinos Punchlinovic, de son..."

In [184]:
artist[artist.index.str.contains(" - ")].index.str.split(" - ").str[1]

Index(['Koba La D', 'Orelsan', 'Loïs Andréa', 'Dirty Money', '1789'], dtype='object', name='Artist')

In [83]:
artist["distance"] = artist.apply(lambda x: edit_distance(x.name.lower(), str(x["Artist_wiki"]).lower()), axis=1)
artist["distance_norm"] = artist.apply(lambda x : x["distance"]/len(x.name), axis=1)

In [84]:
artist["Missing"] = False
artist.loc[artist[["Naissance", "Pays d'origine", "Origine", "Nationalité", "Pays"]].isna().sum(axis=1) == 5, "Missing"] = True

In [102]:
chart["Missing"] = False
chart.loc[chart[["Naissance", "Pays d'origine", "Origine", "Nationalité", "Pays"]].isna().sum(axis=1) == 5, "Missing"] = True

In [108]:
chart[chart["Missing"]].groupby("Artist")["Music"].count().sort_values(ascending=False)[:20]

Artist
Landy                       12
Eva                         11
Sound Of Legend              7
Al. Hy                       7
Swedish House Mafia          6
Astrofonik                   6
Pigloo                       5
Frédérique Zoltane           5
Dry                          4
Titou Le Lapinou             4
Glk                          4
Christine And The Queens     4
Basto!                       4
Cauet                        4
Narkotek                     4
Feder                        4
Bolémvn                      4
Ayo                          3
Tom Snare                    3
1Pliké140                    3
Name: Music, dtype: int64

In [87]:
chart[chart.isna().sum(axis=1) >= 5].value_counts("Artist")[:50]

Artist
Jul                102
Booba               49
Ninho               48
Rihanna             40
Maitre Gims         39
Lady GaGa           27
Damso               26
Katy Perry          23
Black M             22
P!nk                22
Stromae             20
Ed Sheeran          20
Lana Del Rey        20
Beyoncé             20
Calvin Harris       20
Tayc                20
Celine Dion         19
Bébé Lilly          19
Coldplay            18
Maroon 5            18
Chris Brown         18
Shakira             17
Naps                17
Sia                 16
The Weeknd          16
Alonzo              16
Queen               16
Avicii              16
Ariana Grande       16
Eminem              15
Adele               15
Soso Maness         15
Jason DeRulo        15
Various Artists     14
Louane Emera        13
Sean Paul           13
Major Lazer         12
13 Organisé         12
Amel Bent           12
Tal                 12
One Direction       12
Pitbull             12
Landy               12
Britney Spears      12
Bruno Mars          12
Hatik               12
Julien Doré         11
Eva                 11
Koba Lad            11
Usher               11
dtype: int64

In [113]:
artist.sort_values("distance_norm", ascending=False)[200:250]

,Artist_wiki,Naissance,Pays d'origine,Origine,Nationalité,Pays,Summary,distance,distance_norm,Missing,Region,Commune,Departement
Artist,,,,,,,,,,,,,
Erikel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,1.0,True,,,
Zifou,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,1.0,True,,,
Emmy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1.0,True,,,
IZIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1.0,True,,,
David Tavare,Tavares (groupe),NaN,états-unis,NaN,NaN,états-unis,"Tavares, également connu sous le nom The Tavar...",12,1.0,False,,,
Hmz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1.0,True,,,
Zeg P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,1.0,True,,,
The Rolling Stones,Brian Jones (musicien),"28 février 1942Cheltenham (Gloucestershire), ...",NaN,NaN,NaN,NaN,"Lewis Brian Hopkins Jones, dit Brian Jones, né...",18,1.0,False,,Ham,
El Botcho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,1.0,True,,,
Miguel K.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,1.0,True,,,
Dubdogz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,1.0,True,,,
Sve,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1.0,True,,,
Tom Gregory,Tom Gregory (chanteur),10 novembre 1995 (27 ans)Blackpool,NaN,NaN,britannique,NaN,"Thomas Gregory, dit Tom Gregory, est un auteur...",11,1.0,False,,,
Booty Full,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,1.0,True,,,
Rsko,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1.0,True,,,
Shirel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,1.0,True,,,
Bmye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1.0,True,,,
Julian Cely,Elias (chanteur),"15 octobre 1980 (42 ans)Bayonne, France",NaN,NaN,française,NaN,"Elias (Elias Damian), né le 15 octobre 1980 à ...",11,1.0,False,,Bayonne,Yonne
Ch'Ti Dj,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1.0,True,,,
Ajeya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,1.0,True,,,
Viky,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1.0,True,,,
Al. Hy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,1.0,True,,,
Hvme,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1.0,True,,,
Supermode,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,1.0,True,,,
1Pliké140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,1.0,True,,,
Glk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1.0,True,,,
Yorr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1.0,True,,,
Lucky Twice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,1.0,True,,,
Audrey Forest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,1.0,True,,,
The F.o.g.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,1.0,True,,,
Hoda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1.0,True,,,
Twocolors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,1.0,True,,,
Douty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,1.0,True,,,
ItaloBrothers,Scooter (groupe),NaN,allemagne,NaN,NaN,allemagne,"Scooter est un groupe de techno allemand, orig...",13,1.0,False,,,
Deluka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,1.0,True,,,
Atomxflow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,1.0,True,,,
Bigflo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,1.0,True,,,
Indochine,Indochine (groupe),NaN,france,NaN,française,france,Indochine est un groupe de pop rock français o...,9,1.0,False,,,
R. City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,1.0,True,,,
Till West,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,1.0,True,,,
Poustifly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,1.0,True,,,
Wouilo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,1.0,True,,,
Scridge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,1.0,True,,,
Dj Trix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,1.0,True,,,
Cunnie Williams,Corneille (chanteur),24 mars 1977 (45 ans)Fribourg-en-Brisgau (Alle...,NaN,NaN,canadienne,NaN,"Cornelius Nyungura, dit Corneille, est un chan...",15,1.0,False,,Bourg,
Dj Quick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1.0,True,,,
Six'co,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,1.0,True,,,
Abi Lomby,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,1.0,True,,,
M.Z.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1.0,True,,,
Be Wiz'u,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1.0,True,,,

In [110]:
edit_distance("Ne-Yo".lower(), "Yo-Yo ".lower())/len("Ne-Yo")

0.6

In [88]:
for col in ["Pays", "Origine", "Nationalité", "Pays d'origine"]:
    print("-" * 50)
    print(col.upper())
    print("-" * 50)
    print(artist[col].value_counts())

--------------------------------------------------
PAYS
--------------------------------------------------
france               154
états-unis           131
royaume-unis          69
allemagne             17
canada                11
australie              8
pays-bas               8
suède                  6
angleterre             6
belgique               5
corée                  5
italie                 5
espagne                4
irlande                3
finlande               3
autriche               3
inde                   3
écosse                 2
moldavie               2
burkina faso           2
roumanie               2
danemark               2
ghana                  2
détroit  michigan      1
(miami, floride)       1
biélorussie            1
jamaïque               1
portugal               1
hongrie                1
norvège                1
islande                1
côte d'ivoire          1
japon                  1
afrique du sud         1
suisse                 1
russie                 1
seychelles             1
lettonie               1
Name: Pays, dtype: int64
--------------------------------------------------
ORIGINE
--------------------------------------------------
américaine              3
d'après le fly ranch    1
suédoise                1
italienne               1
côte d'ivoire           1
new genesis             1
lange                   1
britannique             1
Name: Origine, dtype: int64
--------------------------------------------------
NATIONALITÉ
--------------------------------------------------
française        584
américaine        88
canadienne        45
britannique       33
belge             26
italienne          7
australienne       6
espagnole          6
allemande          5
algérienne         5
nigériane          5
brésilienne        4
congolaise         3
libanais           3
néerlandaise       3
malienne           2
marocaine          2
irlandaise         2
portoricaine       2
israélienne        2
sud-africaine      1
sénégalais         1
colombienne        1
portugaise         1
écossaise          1
coréenne           1
cap-verdienne      1
thaïlandaise       1
danoise            1
autrichienne       1
dominicaine        1
lituanienne        1
chinoise           1
arménienne         1
suédoise           1
jamaïcaine         1
ukrainienne        1
japonaise          1
turque             1
panaméenne         1
islande            1
islandaise         1
cubaine            1
apache             1
Name: Nationalité, dtype: int64
--------------------------------------------------
PAYS D'ORIGINE
--------------------------------------------------
france               129
états-unis           124
royaume-unis          68
allemagne             16
canada                10
australie              8
pays-bas               7
angleterre             6
suède                  6
italie                 5
corée                  4
irlande                3
espagne                3
finlande               3
moldavie               2
écosse                 2
autriche               2
danemark               2
roumanie               2
belgique               2
côte d'ivoire          1
jamaïque               1
portugal               1
hongrie                1
norvège                1
détroit  michigan      1
afrique du sud         1
japon                  1
islande                1
suisse                 1
russie                 1
seychelles             1
ghana                  1
(miami, floride)       1
Name: Pays d'origine, dtype: int64

In [89]:
n = 100
artist[["Artist_wiki", "Naissance"]].sort_values('Naissance')[n-50:n]

,Artist_wiki,Naissance
Artist,,
Cheb Mami,Cheb Mami,11 juillet 1966 (56 ans)Saïda (Algérie)
Lil' Jump,Lil' Kim,"11 juillet 1974 (48 ans)Brooklyn, New York, É..."
Peter Cincotti,Peter Cincotti,"11 juillet 1983 (39 ans)New York, État de New ..."
Alessia Cara,Alessia Cara,"11 juillet 1996 (26 ans)Brampton, Ontario, Ca..."
Hugh Laurie,Hugh Laurie,11 juin 1959 (63 ans)Blackbird Leys (en) (Oxfo...
Mister Sun,Kim Hee-sun,"11 juin 1977 (45 ans)Daegu, Corée du Sud"
Kodak Black,Kodak Black,"11 juin 1997 (25 ans)Pompano Beach, Floride Ét..."
Jorja Smith,Jorja Smith,11 juin 1997 (25 ans)Walsall (Royaume-Uni)
Pierre Gambini,Pierre Coran,11 mai 1934Saint-Denis
Renaud,Renaud,11 mai 1952 (70 ans)15e arrondissement de Pari...
Kardinal Offishall,Kardinal Offishall,11 mai 1976 (46 ans)Scarborough
Lorna,Lorna (chanteuse),11 mai 1983 (39 ans)Panama
Jack Holiday,Jack Holiday,11 mars 1982 (40 ans)Zurich (Suisse)
Paul Glaeser,Léo Glaeser,11 novembre 1887Riga (Empire russe)
Jevetta Steele,Jevetta Steele,11 novembre 1963 (59 ans)Gary
Jean-jacques Goldman,Jean-Jacques Goldman,11 octobre 1951 (71 ans)Paris (France)
Laetitia Larusso,Larusso (chanteuse),11 octobre 1979 (43 ans)Paris
Cardi B,Cardi B,11 octobre 1992 (30 ans)Bronx
Moby,Moby,"11 septembre 1965 (57 ans)New York, États-Unis"
Kygo,Kygo,"11 septembre 1991 (31 ans) Singapour[1],[2]"
Samuel,Samuel,1102 av. J.-C.Rama
Jean-louis Aubert,Jean-Louis Aubert,"12 avril 1955 (67 ans)Nantua, France"
Sak Noel,Sak Noel,"12 avril 1983 (39 ans)La Cellera de Ter, Géron..."
Axel Tony,Axel Tony,"12 avril 1984 (38 ans)Colombes, Hauts-de-Seine"
Frank Sinatra,Frank Sinatra,"12 décembre 1915Hoboken (New Jersey), États-Unis"
Remady,Remady,"12 décembre 1977 (44 ans)Zurich, Suisse"
Tal,Tal (chanteuse),"12 décembre 1989 (32 ans)Hadera, Israël"
Marwa Loud,Marwa Loud,12 décembre 1996 (25 ans)Strasbourg
Mike Posner,Mike Posner,"12 février 1988 (34 ans)Détroit (Michigan, Éta..."
Melanie C,Melanie C,"12 janvier 1974 (48 ans)Whiston (Merseyside), ..."
Amerie,Amerie,12 janvier 1980 (42 ans) Fitchburg
Pixie Lott,Pixie Lott,12 janvier 1991 (31 ans)Bromley (Londres)
Gambi,Gambi,"12 janvier 1998 (24 ans)Fontenay-Sous-Bois, Fr..."
Gary Fico,Gary Fico,12 juillet 1986 (36 ans)Issy-les-Moulineaux
Natalie La Rose,Natalie La Rose,"12 juillet 1988 (34 ans)Amsterdam, Pays-Bas"
Robyn,Robyn,12 juin 1979 (43 ans)Stockholm
Kalash,Kalash (chanteur),"12 juin 1988 (34 ans)Strasbourg, France"
Kalash Criminel,Kalash (chanteur),"12 juin 1988 (34 ans)Strasbourg, France"
Michel Fugain,Michel Fugain,12 mai 1942 (80 ans)Grenoble
Art Meson,Anne Meson,12 mai 1975 (47 ans)Paris
Stromae,Stromae,"12 mars 1985 (37 ans) Etterbeek, Bruxelles (Be..."
Cylia,Cylia,12 mars 1987 (35 ans)Cannes
Laylow,Laylow,12 mars 1993 (29 ans)Toulouse
Maurane,Maurane,12 novembre 1960Ixelles (Belgique)
Ryan Gosling,Ryan Gosling,"12 novembre 1980 (42 ans)London, Ontario (Canada)"
Michal,Michal (chanteur),"12 novembre 1983 (39 ans)Gorzów Wielkopolski, ..."
Calum Scott,Calum Scott,12 octobre 1988 (34 ans)Kingston upon Hull (Ro...
Barry White,Barry White,"12 septembre 1944Galveston, Texas, États-Unis"
Mylène Farmer,Mylène Farmer,"12 septembre 1961 (61 ans)Pierrefonds, Québec,..."
2 Chainz,2 Chainz,"12 septembre 1977 (45 ans)College Park, Géorgi..."

In [90]:
artist["Naissance"].str.split(" ", expand=True)

,0,1,2,3,4,5,6,7,8,9,10
Artist,,,,,,,,,,,
LP,18,mars,1981,(41 ans)Long,"Island,",État,de,New,"York,",,États-Unis
Les Enfants Du Pays,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lynda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Iv My People,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mickael Turtle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
Andy Williams,3,décembre,1927Wall,"Lake,","(Iowa,",États-Unis),None,None,None,None,None
Duffy,23,juin,1984,(38 ans),"Bangor,",pays,de,Galles,None,None,None
Martial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lacrim,19,avril,1985,(37 ans)Paris,"(20e),",,France,None,None,None,None
Swedish House Mafia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Commune france

In [91]:
region = pd.read_csv("../france/departements-france.csv")
commune = pd.read_csv("../france/communes-departement-region.csv")
departement = pd.read_csv("../france/departements-france.csv")
nb_habitant = pd.read_csv("../france/nb_habitant.csv")

commune = commune.merge(nb_habitant[["Ville", "nb_habitant"]], left_on="nom_commune", right_on="Ville")
commune["nb_habitant"] = commune["nb_habitant"].str.replace(" ", "")
commune["nb_habitant"] = commune["nb_habitant"].astype("int")

In [92]:
commune.head(3)

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region,Ville,nb_habitant
0,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.960848,5.372926,4.0,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.0,Auvergne-Rhône-Alpes,Ambérieu-en-Bugey,14134
1,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,45.996180,4.912273,5.0,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.0,Auvergne-Rhône-Alpes,Ambérieux-en-Dombes,1751
2,1006,AMBLEON,1300,AMBLEON,NaN,45.749499,5.594320,6.0,NaN,Ambléon,Ambléon,1,Ain,84.0,Auvergne-Rhône-Alpes,Ambléon,112

In [93]:
artist["Region"] = " "
for r in tqdm(region["nom_region"]):
    artist.loc[artist["Naissance"].str.lower().str.contains(r.lower(), na=False), "Region"] = r

100%|██████████| 101/101 [00:00<00:00, 442.74it/s]

In [94]:
artist["Commune"] = " "
for c in tqdm(commune[commune["nb_habitant"] > 2000]["nom_commune"]):
    artist.loc[artist["Naissance"].str.lower().str.contains(c.lower(), na=False), "Commune"] = c

100%|██████████| 6980/6980 [00:14<00:00, 471.39it/s]

In [95]:
artist["Departement"] = " "
for d in tqdm(departement["nom_departement"]):
    artist.loc[artist["Naissance"].str.lower().str.contains(d.lower(), na=False), "Departement"] = d

100%|██████████| 101/101 [00:00<00:00, 470.22it/s]

In [96]:
artist["Departement"].value_counts()

                       2026
Paris                    69
Ain                      27
Rhône                    13
Seine-Saint-Denis        12
Hauts-de-Seine           12
Nord                     11
Val-d'Oise                9
Yvelines                  7
Val-de-Marne              7
Guadeloupe                6
Essonne                   5
Seine-et-Marne            4
Guyane                    3
Loire                     3
Var                       3
Alpes-Maritimes           3
Gard                      3
Seine-Maritime            3
Loiret                    3
Martinique                2
Aude                      2
Oise                      2
Aisne                     2
Eure                      2
Somme                     2
Moselle                   2
Finistère                 2
Sarthe                    2
Marne                     2
Pas-de-Calais             1
Tarn-et-Garonne           1
La Réunion                1
Vosges                    1
Gironde                   1
Haut-Rhin                 1
Isère                     1
Côte-d'Or                 1
Meuse                     1
Deux-Sèvres               1
Dordogne                  1
Côtes-d'Armor             1
Gers                      1
Haute-Garonne             1
Vaucluse                  1
Haute-Corse               1
Cher                      1
Pyrénées-Orientales       1
Yonne                     1
Aveyron                   1
Haute-Savoie              1
Calvados                  1
Lot                       1
Name: Departement, dtype: int64

In [97]:
artist[artist["Departement"] == "Rhône"][:50]

,Artist_wiki,Naissance,Pays d'origine,Origine,Nationalité,Pays,Summary,distance,distance_norm,Missing,Region,Commune,Departement
Artist,,,,,,,,,,,,,
Soso Maness,Soso Maness,"21 mars 1987 (35 ans)Marseille, Bouches-du-Rhône",NaN,NaN,NaN,NaN,NaN,0,0.000000,False,,,Rhône
Mickaël Miro,Mickaël Miro,"8 novembre 1978 (44 ans)Villeurbanne, Rhône( F...",NaN,NaN,française,NaN,"Mickaël Cohen, dit Mickaël Miro, né le 8 novem...",0,0.000000,False,,Eu,Rhône
Woodkid,Woodkid,16 mars 1983 (39 ans)Tassin-la-Demi-LuneRhône-...,NaN,NaN,française,NaN,"Yoann Lemoine, également dit Woodkid, est un a...",0,0.000000,False,,Tassin-la-Demi-Lune,Rhône
Louisy Joseph,Louisy Joseph,14 avril 1978 (44 ans)Vénissieux (Rhône),NaN,NaN,française,NaN,"Louisy Joseph, de son vrai nom Lydy Louisy-Jos...",0,0.000000,False,,Eu,Rhône
Coralie Clément,Coralie Clément (chanteuse),1er septembre 1978 (44 ans)Villefranche-sur-Sa...,NaN,NaN,française,NaN,"Coralie Clément, née Coralie Biolay le 1er sep...",12,0.800000,False,,Villefranche-sur-Saône,Rhône
Imany,Imany,"5 avril 1979 (43 ans)Martigues, Bouches-du-Rhô...",NaN,NaN,française,NaN,"Nadia Mladjao, dite Imany, est une chanteuse, ...",0,0.000000,False,,Martigues,Rhône
L'algerino,L'Algérino,"2 mai 1981 (41 ans)Marseille, Bouches-du-Rhône...",NaN,NaN,NaN,NaN,NaN,1,0.100000,False,,,Rhône
Naps,Naps,"15 février 1986 ou 27 juillet 1991Marseille, B...",NaN,NaN,NaN,NaN,NaN,0,0.000000,False,,,Rhône
Soprano,Soprano (rappeur),14 janvier 1979 (43 ans)Marseille (Bouches-du-...,NaN,NaN,française,NaN,"Soprano, pseudonyme de Saïd M'Roumbaba, né le...",10,1.428571,False,,,Rhône
Alonzo,Alonzo (rappeur),"25 juillet 1982 (40 ans)Marseille, Bouches-du-...",NaN,NaN,NaN,NaN,"Kassim Djae, dit Alonzo, né le 25 juillet 1982...",10,1.666667,False,,,Rhône
Louis Delort,Louis Delort,"5 août 1993 (29 ans)Écully, Rhône",NaN,NaN,française,NaN,"Louis Delort, né le 5 août 1993 à Écully (Rhôn...",0,0.000000,False,,Écully,Rhône
Marina Kaye,Marina Kaye,"9 février 1998 (24 ans)Marseille, Bouches-du-R...",NaN,NaN,française,NaN,"Marina Dalmas, dite Marina Kaye (prononcé en f...",0,0.000000,False,,,Rhône
Akhenaton,Akhenaton (rappeur),17 septembre 1968 (54 ans)Marseille (Bouches-d...,NaN,NaN,française,NaN,"Akhenaton, pseudonyme de Philippe Fragione, né...",10,1.111111,False,,,Rhône

In [98]:
chart[chart["Artist"] == "Orelsan"]

,Artist,Music,Artist_wiki,Naissance,Pays d'origine,Origine,Nationalité,Pays,Summary,summary
79,Orelsan,Suicide Social,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
68,Orelsan,Ils Sont Cools,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
12,Orelsan,La Terre Est Ronde,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
22,Orelsan,Tout Va Bien,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
42,Orelsan,Basique,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
87,Orelsan,Défaite De Famille,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
75,Orelsan,La Pluie,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
6,Orelsan,Rãªves Bizarres,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
28,Orelsan,"La Famille, La Famille",Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
31,Orelsan,Mes Grands-parents,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
32,Orelsan,Epilogue (la Fãªte Est Finie),Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
40,Orelsan,Fantã´mes,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
41,Orelsan,Adieu Les Filles,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
48,Orelsan,Dis-moi,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
49,Orelsan,Discipline,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
52,Orelsan,Excuses Ou Mensonges,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
53,Orelsan,Tout Ce Que Je Sais,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
79,Orelsan,Paradis,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
3,Orelsan,Jour Meilleur,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
27,Orelsan,L'odeur De L'essence,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
32,Orelsan,La Quête,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
42,Orelsan,Du Propre,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
90,Orelsan,Shonen,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
95,Orelsan,Casseurs Flowters Infinity,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
101,Orelsan,Seul Avec Du Monde Autour,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
7,Orelsan,Rêve Mieux,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
9,Orelsan,Baise Le Monde,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
10,Orelsan,Bébéboa,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
11,Orelsan,Manifeste,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
14,Orelsan,Ensemble,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
15,Orelsan,Civilisation,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
16,Orelsan,Athéna,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
17,Orelsan,Dernier Verre,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."
25,Orelsan,Cp_009_ E´videmment,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,français,NaN,NaN,"Aurélien Cotentin, dit Orelsan (/ɔʁɛlˈsan/), e..."

In [99]:
chart.groupby("Artist")["Music"].count().sort_values(ascending=False)[0:50]

Artist
Jul                    102
Booba                   49
Ninho                   48
David Guetta            46
Sch                     43
Rihanna                 40
Maitre Gims             39
Kaaris                  35
Timal                   34
Orelsan                 34
Johnny Hallyday         33
Dadju                   32
Soprano                 31
Leto                    30
Mylène Farmer           28
Lady GaGa               27
Aya Nakamura            27
M. Pokora               26
Damso                   26
Djadja et Dinaz         25
PNL                     25
Madonna                 24
Katy Perry              23
Drake                   23
Niska                   22
Black M                 22
Lacrim                  22
P!nk                    22
The Black Eyed Peas     21
Freeze Corleone         21
Ed Sheeran              20
Calvin Harris           20
Beyoncé                 20
Nekfeu                  20
Tayc                    20
Lana Del Rey            20
Stromae                 20
Lomepal                 20
Jenifer                 19
Celine Dion             19
Bébé Lilly              19
Plk                     19
Kendji Girac            19
Gazo                    18
Coldplay                18
Maes                    18
Maroon 5                18
Chris Brown             18
Naps                    17
Shakira                 17
Name: Music, dtype: int64