In [99]:
from os import listdir
import pandas as pd
import numpy as np

from nltk.metrics.distance import edit_distance

In [100]:
MISSING = " "

# Load Data

In [101]:
files = listdir("../chart")

dfs_chart = {}
for f in files:
    year = f.split("_")[0]
    month = f.split("_")[1].split(".")[0]

    if dfs_chart.get(year) is None:
        dfs_chart[year] = {}
        
    dfs_chart[year][month] = pd.read_csv("../chart/" + f)

In [102]:
dfs_chart["2006"]["Janvier"]

,Rank,Artist,Music,Artist_wiki,Naissance,Pays d'origine,Origine,Nationalité,Pays
0,1,Juanes,La Camisa Negra,Juanes,"9 août 1972 (50 ans)Medellin, Colombie",NaN,NaN,NaN,NaN
1,2,Madonna,Hung Up,Madonna,"16 août 1958 (64 ans)Bay City, Michigan (États...",NaN,NaN,Américaine,NaN
2,3,Johnny Hallyday,Mon Plus Beau Noël,Johnny Hallyday,15 juin 1943 Paris 9e (France),NaN,NaN,Française,NaN
3,4,Tina Arena,Aimer Jusqu'à L'impossible,Tina Arena,"1er novembre 1967 (55 ans)Melbourne, Australie",NaN,NaN,NaN,NaN
4,5,Star Academy,Santiano,Star Academy (France),NaN,NaN,NaN,NaN,France
...,...,...,...,...,...,...,...,...,...
95,96,Jenifer,Serre-moi,Jenifer,15 novembre 1982 (40 ans)Nice,NaN,NaN,NaN,NaN
96,97,Lucie Bernardoni,"Petit Rat, Petit Loup",Lucie Bernardoni,"4 février 1987 (35 ans)Nice, Alpes-Maritimes, ...",NaN,NaN,NaN,NaN
97,98,Ilona Mitrecey,C'est Les Vacances,Ilona Mitrecey,1er septembre 1993 (29 ans)Fontenay-aux-Roses ...,NaN,NaN,NaN,NaN
98,99,Kanye West,Gold Digger,Kanye West,"8 juin 1977 (45 ans)Atlanta, Géorgie (États-Unis)",NaN,NaN,NaN,NaN
99,100,Global Deejays,The Sound Of San Francisco,Global Deejays,NaN,Autriche,NaN,NaN,Autriche

In [103]:
artist = pd.read_csv("../artist.csv", index_col=0)

In [104]:
artist

,Artist_wiki,Naissance,Pays d'origine,Origine,Nationalité,Pays
Artist,,,,,,
Anuel Aa,Anuel AA,26 novembre 1992 (30 ans)Carolina (Porto Rico),NaN,NaN,portoricaine,NaN
Childish Gambino,This Is America,NaN,NaN,NaN,NaN,NaN
Tydiaz,Foire de Châlons,NaN,NaN,NaN,NaN,NaN
Lucenzo,Lucenzo,"27 mai 1983 (39 ans)Bordeaux, France",NaN,NaN,NaN,NaN
Chris Garcia,Dany Garcia,29 novembre 1968 (54 ans)Belleville,NaN,NaN,américaine,NaN
...,...,...,...,...,...,...
Radio Killer,Radio Killer,NaN,NaN,NaN,NaN,NaN
Star Academy Maghreb,Star Academy (Maghreb),NaN,NaN,NaN,NaN,NaN
Mr. Oizo,Nonfilm,NaN,NaN,NaN,NaN,france
Cee-lo Green,Cee Lo Green,"30 mai 1974 (48 ans)[1],[2]Atlanta, Géorgie, ...",NaN,NaN,NaN,NaN
Gotye,Gotye,"21 mai 1980 (42 ans)Bruges, Belgique",NaN,NaN,NaN,NaN

# Analysis

In [105]:
chart = []
for k1 in dfs_chart.keys():
    for k2 in dfs_chart[k1].keys():
        chart.append(dfs_chart[k1][k2])
chart = pd.concat(chart)
chart.drop(columns=["Rank"], inplace=True)
chart.drop_duplicates(inplace=True)

In [106]:
artist["distance"] = artist.apply(lambda x: edit_distance(x.name, str(x["Artist_wiki"])), axis=1)

In [107]:
n = 450
artist[artist.isna().sum(axis=1) >= 5].sort_values("distance")[n-50:n]

,Artist_wiki,Naissance,Pays d'origine,Origine,Nationalité,Pays,distance
Artist,,,,,,,
Passymal,Hardcore (chanson),NaN,NaN,NaN,NaN,NaN,16
Les Anges De La Téléréalité 5,Téléréalité,NaN,NaN,NaN,NaN,NaN,18
Roch Voisine Et CUr De Pirate,Boucle d'oreille,NaN,NaN,NaN,NaN,NaN,23
Philippe Tailleferd,Les Randonneurs à Saint-Tropez,NaN,NaN,NaN,NaN,NaN,26
Sidaction (Florent Pagny / Calogero / Pascal Obispo),Saison 3 de Star Academy (France),NaN,NaN,NaN,NaN,NaN,38

In [108]:
chart[chart["Artist"] == "Sarah"]

,Artist,Music,Artist_wiki,Naissance,Pays d'origine,Origine,Nationalité,Pays
58,Sarah,Le Meilleur Des Deux (the Best Of Both Worlds),Sarah,NaN,NaN,NaN,NaN,NaN

In [109]:
for col in ["Pays", "Origine", "Nationalité", "Pays d'origine"]:
    print("-" * 50)
    print(col.upper())
    print("-" * 50)
    print(artist[col].value_counts())

--------------------------------------------------
PAYS
--------------------------------------------------
france               181
états-unis           136
royaume-unis          72
allemagne             22
canada                12
pays-bas               9
australie              8
angleterre             6
suède                  6
italie                 5
corée                  5
espagne                4
belgique               4
inde                   4
irlande                3
finlande               3
autriche               3
moldavie               3
danemark               2
écosse                 2
ghana                  2
hongrie                2
biélorussie            2
burkina faso           2
portugal               2
norvège                2
roumanie               2
seychelles             1
afrique du sud         1
50                     1
côte d'ivoire          1
russie                 1
suisse                 1
détroit  michigan      1
jamaïque               1
mauritanie             1
(miami, floride)       1
lettonie               1
tchéquie               1
mali                   1
islande                1
pologne                1
japon                  1
Name: Pays, dtype: int64
--------------------------------------------------
ORIGINE
--------------------------------------------------
américaine              4
française               2
new genesis             1
côte d'ivoire           1
britannique             1
suédoise                1
italienne               1
d'après le fly ranch    1
lange                   1
Name: Origine, dtype: int64
--------------------------------------------------
NATIONALITÉ
--------------------------------------------------
française        190
américaine       104
britannique       35
canadienne        21
belge              9
espagnole          9
italienne          8
australienne       7
brésilienne        6
allemande          6
algérienne         5
nigériane          5
néerlandaise       3
irlandaise         3
malienne           3
congolaise         3
israélienne        2
portoricaine       2
japonaise          2
marocaine          2
letton             1
écossaise          1
lituanienne        1
comores            1
dominicaine        1
suédoise           1
hong kong          1
islande            1
colombienne        1
chinoise           1
panaméenne         1
apache             1
thaïlandaise       1
roumaine           1
togolais           1
danoise            1
cubaine            1
turque             1
islandaise         1
portugaise         1
sud-africaine      1
arménienne         1
coréenne           1
argentine          1
ukrainienne        1
indienne           1
jamaïcaine         1
sénégalais         1
Name: Nationalité, dtype: int64
--------------------------------------------------
PAYS D'ORIGINE
--------------------------------------------------
france               134
états-unis           128
royaume-unis          70
allemagne             21
canada                10
australie              8
pays-bas               8
angleterre             6
suède                  6
italie                 5
corée                  4
finlande               3
espagne                3
irlande                3
moldavie               3
danemark               2
norvège                2
roumanie               2
écosse                 2
belgique               2
autriche               2
hongrie                1
côte d'ivoire          1
ghana                  1
suisse                 1
détroit  michigan      1
islande                1
jamaïque               1
portugal               1
russie                 1
(miami, floride)       1
seychelles             1
afrique du sud         1
japon                  1
Name: Pays d'origine, dtype: int64