In [240]:
from os import listdir
import pandas as pd
import numpy as np
from tqdm import tqdm

from nltk.metrics.distance import edit_distance

In [241]:
MISSING = " "

# Load Data

In [257]:
files = listdir("../chart")

dfs_chart = {}
for f in files:
    year = f.split("_")[0]
    month = f.split("_")[1].split(".")[0]

    if dfs_chart.get(year) is None:
        dfs_chart[year] = {}
        
    dfs_chart[year][month] = pd.read_csv("../chart/" + f)

In [258]:
dfs_chart["2006"]["Janvier"].head(3)

,Rank,Artist,Music,Artist_wiki_x,Naissance_x,Pays d'origine_x,Origine_x,Nationalité_x,Pays_x,Artist_wiki_y,Naissance_y,Pays d'origine_y,Origine_y,Nationalité_y,Pays_y
0,1,Juanes,La Camisa Negra,Juanes,"9 août 1972 (50 ans)Medellin, Colombie",NaN,NaN,NaN,NaN,Juanes,"9 août 1972 (50 ans)Medellin, Colombie",NaN,NaN,NaN,NaN
1,2,Madonna,Hung Up,Madonna,"16 août 1958 (64 ans)Bay City, Michigan (États...",NaN,NaN,Américaine,NaN,Madonna,"16 août 1958 (64 ans)Bay City, Michigan (États...",NaN,NaN,Américaine,NaN
2,3,Johnny Hallyday,Mon Plus Beau Noël,Johnny Hallyday,15 juin 1943 Paris 9e (France),NaN,NaN,Française,NaN,Johnny Hallyday,15 juin 1943 Paris 9e (France),NaN,NaN,Française,NaN

In [259]:
artist = pd.read_csv("../artist.csv", index_col=0)

In [261]:
artist.head(3)

,Artist_wiki,Naissance,Pays d'origine,Origine,Nationalité,Pays
Artist,,,,,,
Les Squatters,The Squatters,NaN,NaN,NaN,NaN,NaN
Yvonne S. Moriarty,Connie Booth,"31 janvier 1944 (78 ans)Indianapolis, (Indiana...",NaN,NaN,américaine,NaN
Madeon,Madeon,"30 mai 1994 (28 ans)Nantes, France",NaN,NaN,NaN,NaN

# Analysis

In [262]:
chart = []
for k1 in dfs_chart.keys():
    for k2 in dfs_chart[k1].keys():
        chart.append(dfs_chart[k1][k2])
chart = pd.concat(chart)
chart.drop(columns=["Rank"], inplace=True)
chart.drop_duplicates(inplace=True)

In [284]:
artist["distance"] = artist.apply(lambda x: edit_distance(x.name.lower(), str(x["Artist_wiki"]).lower()), axis=1)
artist["distance_norm"] = artist.apply(lambda x : x["distance"]/len(x.name), axis=1)

In [285]:
artist.sort_values("distance_norm", ascending=False)[:50]

,Artist_wiki,Naissance,Pays d'origine,Origine,Nationalité,Pays,distance,distance_norm,Region,Commune,Departement
Artist,,,,,,,,,,,
LP,LP (chanteuse),"18 mars 1981 (41 ans)Long Island, État de New ...",NaN,NaN,NaN,NaN,12,6.000000,,,
Rk,RK (rappeur),7 novembre 2001 (21 ans),NaN,NaN,NaN,NaN,10,5.000000,,,
L5,L5 (groupe),NaN,france,NaN,NaN,france,9,4.500000,,,
Adé,Adé (chanteuse),20 avril 1995 (27 ans)France,NaN,NaN,NaN,NaN,12,4.000000,,,
Nea,Nea (chanteuse),17 septembre 1987 (35 ans) Afrique du Sud,NaN,NaN,suédoise,NaN,12,4.000000,,,
Tal,Tal (chanteuse),"12 décembre 1989 (32 ans)Hadera, Israël",NaN,NaN,NaN,NaN,12,4.000000,,,
Zaz,Zaz (chanteuse),"1er mai 1980 (42 ans)Chambray-lès-Tours, France",NaN,NaN,française,NaN,12,4.000000,,Ham,
Sia,Sia (chanteuse),"18 décembre 1975 (46 ans)Adélaïde, Australie",NaN,NaN,NaN,NaN,12,4.000000,,,
Sia,Sia (chanteuse),"18 décembre 1975 (46 ans)Adélaïde, Australie",NaN,NaN,NaN,NaN,12,4.000000,,,
Vacra,Alexandra do Nascimento,16 septembre 1981 (41 ans),NaN,NaN,brésilienne,NaN,20,4.000000,,,
Zhu,Zhu (musicien),22 avril 1989 (33 ans)San Francisco,NaN,NaN,américaine,NaN,11,3.666667,,,
Alb,ALB (musicien),"28 septembre 1979 (43 ans)Chauny, Aisne, France",NaN,NaN,NaN,NaN,11,3.666667,,Chauny,Aisne
Omi,OMI (chanteur),"3 septembre 1986 (36 ans)May Pen, Paroisse de ...",NaN,NaN,NaN,NaN,11,3.666667,,,
ATB,ATB (musicien),"26 février 1973 (49 ans)[2]Freiberg, Allemagne",NaN,NaN,NaN,NaN,11,3.666667,,,
PSY,Psy (chanteur),"31 décembre 1977 (44 ans)Séoul, Corée du Sud",NaN,NaN,NaN,NaN,11,3.666667,,,
Sdm,SDM (rappeur),"28 novembre 1995 (27 ans)Meudon, France",NaN,NaN,NaN,NaN,10,3.333333,,Meudon,
MHD,MHD (rappeur),10 septembre 1994 (28 ans)La Roche-sur-Yon,NaN,NaN,française,NaN,10,3.333333,,Roche,
Uzi,Uzi (rappeur),"5 octobre 1999 (23 ans)[2]Noisiel, Seine-et-Ma...",NaN,NaN,NaN,NaN,10,3.333333,,Noisiel,Seine-et-Marne
Plk,PLK (rappeur),15 avril 1997 (25 ans)Paris 14e,NaN,NaN,française,NaN,10,3.333333,,,Paris
Tlf,TLF (rappeur),"5 mai 1981 (41 ans)Moroni, Comores",NaN,NaN,NaN,NaN,10,3.333333,,,
Sch,SCH (rappeur),6 avril 1993 (29 ans)Marseille 12e (France),NaN,NaN,NaN,NaN,10,3.333333,,,
Jul,Jul (rappeur),"14 janvier 1990 (32 ans)Marseille 12e, France",NaN,NaN,NaN,NaN,10,3.333333,,,
Kore,Kore (producteur),NaN,NaN,NaN,NaN,NaN,13,3.250000,,,
P!nk,Pink (chanteuse),"8 septembre 1979 (43 ans)Doylestown, Pennsylva...",NaN,NaN,NaN,NaN,13,3.250000,,,
Kore,Kore (producteur),NaN,NaN,NaN,NaN,NaN,13,3.250000,,,
M83,M83 (groupe),NaN,france,NaN,NaN,france,9,3.000000,,,
BTS,BTS (groupe),NaN,corée,NaN,NaN,corée,9,3.000000,,,
Ashe,Ashe (chanteuse),24 avril 1993 (29 ans)San José,NaN,NaN,américaine,NaN,12,3.000000,,,
PNL,PNL (groupe),NaN,france,NaN,NaN,france,9,3.000000,,,
Gala,Gala (chanteuse),"6 septembre 1975 (47 ans)Milan, Italie",NaN,NaN,NaN,NaN,12,3.000000,,,
113,113 (groupe),NaN,france,NaN,NaN,france,9,3.000000,,,
Lsd,LSD (groupe),NaN,états-unis,NaN,NaN,états-unis,9,3.000000,,,
Saya,Saya (chanteuse),9 janvier 1978 (44 ans)Saint-Denis,NaN,NaN,NaN,NaN,12,3.000000,,Saint-Denis,Ain
Irma,Irma (chanteuse),15 juillet 1988 (34 ans)Douala (Cameroun),NaN,NaN,NaN,NaN,12,3.000000,,Mer,
D12,D12 (groupe),NaN,états-unis,NaN,NaN,états-unis,9,3.000000,,,
C2C,C2C (groupe),NaN,france,NaN,NaN,france,9,3.000000,,,
Kyo,Kyo (groupe),NaN,france,NaN,NaN,france,9,3.000000,,,
Jain,Jain (chanteuse),"7 février 1992 (30 ans)Toulouse, France",NaN,NaN,NaN,NaN,12,3.000000,,Toul,
DTF,DTF (groupe),NaN,france,NaN,NaN,france,9,3.000000,,,
Raphael,Raphael (chanteur français),"7 novembre 1975 (47 ans)Paris 8e, France",NaN,NaN,NaN,NaN,20,2.857143,,,Paris
Rema,Rema (chanteur),"1er mai 2000 (22 ans)Benin City, État d’Edo, ...",NaN,NaN,NaN,NaN,11,2.750000,,,
Lisa,Lisa (rappeuse),"27 mars 1997 (25 ans)Province de Buriram, Thaï...",NaN,NaN,thaïlandaise,NaN,11,2.750000,,Provin,
Mika,Mika (chanteur),"18 août 1983 (39 ans)Beyrouth, (Liban)",NaN,NaN,NaN,NaN,11,2.750000,,,
Zedd,Zedd (musicien),"2 septembre 1989 (33 ans)Saratov, Russie",NaN,NaN,NaN,NaN,11,2.750000,,,
Amir,Amir (chanteur),20 juin 1984 (38 ans)Paris 12e,NaN,NaN,NaN,NaN,11,2.750000,,,Paris
Cali,Cali (chanteur),28 juin 1968 (54 ans)Perpignan (Pyrénées-Orien...,NaN,NaN,NaN,NaN,11,2.750000,,Perpignan,Pyrénées-Orientales
Souf,Souf (chanteur),"27 janvier 1990 (32 ans)Nancy, France",NaN,NaN,NaN,NaN,11,2.750000,,Nancy,
Gage,Gage (chanteur),2 janvier 1977 (45 ans)Montréal,NaN,NaN,canadienne,NaN,11,2.750000,,,
Dave,Dave (chanteur),4 mai 1944 (78 ans)Amsterdam (Pays-Bas),NaN,NaN,néerlandaise,NaN,11,2.750000,,,
Hvme,Travis Scott,"30 avril 1992 (30 ans)Houston, États-Unis",NaN,NaN,NaN,NaN,11,2.750000,,,

In [265]:
chart[chart.isna().sum(axis=1) >= 5].value_counts("Artist")[:50]

Artist
Jul                    102
Booba                   49
Ninho                   48
David Guetta            46
Sch                     43
Rihanna                 40
Maitre Gims             39
Kaaris                  35
Orelsan                 34
Timal                   34
Johnny Hallyday         33
Dadju                   32
Soprano                 31
Leto                    30
Mylène Farmer           28
Aya Nakamura            27
Lady GaGa               27
M. Pokora               26
Damso                   26
PNL                     25
Djadja et Dinaz         25
Madonna                 24
Drake                   23
Katy Perry              23
P!nk                    22
Black M                 22
Lacrim                  22
Niska                   22
Freeze Corleone         21
The Black Eyed Peas     21
Calvin Harris           20
Ed Sheeran              20
Lomepal                 20
Tayc                    20
Stromae                 20
Beyoncé                 20
Nekfeu                  20
Lana Del Rey            20
Plk                     19
Jenifer                 19
Kendji Girac            19
Bébé Lilly              19
Celine Dion             19
Maroon 5                18
Coldplay                18
Gazo                    18
Chris Brown             18
Maes                    18
Shakira                 17
Naps                    17
dtype: int64

In [266]:
for col in ["Pays", "Origine", "Nationalité", "Pays d'origine"]:
    print("-" * 50)
    print(col.upper())
    print("-" * 50)
    print(artist[col].value_counts())

--------------------------------------------------
PAYS
--------------------------------------------------
france               178
états-unis           136
royaume-unis          71
allemagne             21
canada                10
pays-bas               9
australie              8
suède                  6
angleterre             6
corée                  5
italie                 5
espagne                4
moldavie               3
belgique               3
irlande                3
biélorussie            3
finlande               3
ghana                  2
roumanie               2
danemark               2
hongrie                2
autriche               2
écosse                 2
islande                1
russie                 1
jamaïque               1
norvège                1
tchéquie               1
inde                   1
suisse                 1
afrique du sud         1
côte d'ivoire          1
lettonie               1
(miami, floride)       1
portugal               1
pologne                1
burkina faso           1
japon                  1
50                     1
seychelles             1
détroit  michigan      1
Name: Pays, dtype: int64
--------------------------------------------------
ORIGINE
--------------------------------------------------
américaine              3
côte d'ivoire           1
suédoise                1
d'après le fly ranch    1
italienne               1
corse                   1
française               1
new genesis             1
britannique             1
lange                   1
Name: Origine, dtype: int64
--------------------------------------------------
NATIONALITÉ
--------------------------------------------------
française        186
américaine        98
britannique       32
canadienne        20
belge              8
italienne          8
espagnole          7
australienne       7
brésilienne        6
nigériane          5
allemande          5
algérienne         5
néerlandaise       4
portoricaine       3
irlandaise         3
congolaise         3
israélienne        2
japonaise          2
marocaine          2
malienne           2
sénégalais         1
arménienne         1
sud-africaine      1
islandaise         1
écossaise          1
islande            1
hong kong          1
cubaine            1
panaméenne         1
cap-verdienne      1
suédoise           1
jamaïcaine         1
lituanienne        1
comores            1
indienne           1
apache             1
coréenne           1
turque             1
australie          1
ukrainienne        1
chinoise           1
autrichienne       1
togolais           1
thaïlandaise       1
portugaise         1
argentine          1
colombienne        1
danoise            1
dominicaine        1
Name: Nationalité, dtype: int64
--------------------------------------------------
PAYS D'ORIGINE
--------------------------------------------------
france               134
états-unis           126
royaume-unis          70
allemagne             20
canada                 9
pays-bas               8
australie              8
suède                  6
angleterre             6
italie                 5
corée                  4
moldavie               3
irlande                3
finlande               3
espagne                3
belgique               2
roumanie               2
danemark               2
autriche               2
écosse                 2
russie                 1
jamaïque               1
norvège                1
suisse                 1
afrique du sud         1
côte d'ivoire          1
islande                1
(miami, floride)       1
portugal               1
hongrie                1
japon                  1
seychelles             1
ghana                  1
détroit  michigan      1
Name: Pays d'origine, dtype: int64

In [267]:
n = 100
artist[["Artist_wiki", "Naissance"]].sort_values('Naissance')[n-50:n]

,Artist_wiki,Naissance
Artist,,
Mary J. Blige,Mary J. Blige,"11 janvier 1971 (51 ans)[1]Bronx, New York Éta..."
Jamelia,Jamelia,"11 janvier 1981 (41 ans)Handsworth, Birmingham..."
Tristan Garner,Tristan Garner,11 janvier 1985 (37 ans)Nice
Cheb Mami,Cheb Mami,11 juillet 1966 (56 ans)Saïda (Algérie)
Lil' Jump,Lil' Kim,"11 juillet 1974 (48 ans)Brooklyn, New York, É..."
Peter Cincotti,Peter Cincotti,"11 juillet 1983 (39 ans)New York, État de New ..."
Alessia Cara,Alessia Cara,"11 juillet 1996 (26 ans)Brampton, Ontario, Ca..."
Hugh Laurie,Hugh Laurie,11 juin 1959 (63 ans)Blackbird Leys (en) (Oxfo...
Mister Sun,Kim Hee-sun,"11 juin 1977 (45 ans)Daegu, Corée du Sud"
Kodak Black,Kodak Black,"11 juin 1997 (25 ans)Pompano Beach, Floride Ét..."
Jorja Smith,Jorja Smith,11 juin 1997 (25 ans)Walsall (Royaume-Uni)
Feynman,Richard Feynman,11 mai 1918Queens (New York) (États-Unis)
Pierre Gambini,Pierre Coran,11 mai 1934Saint-Denis
Renaud,Renaud,11 mai 1952 (70 ans)15e arrondissement de Pari...
Kardinal Offishall,Kardinal Offishall,11 mai 1976 (46 ans)Scarborough
Lorna,Lorna (chanteuse),11 mai 1983 (39 ans)Panama
Jack Holiday,Jack Holiday,11 mars 1982 (40 ans)Zurich (Suisse)
Paul Glaeser,Léo Glaeser,11 novembre 1887Riga (Empire russe)
Jevetta Steele,Jevetta Steele,11 novembre 1963 (59 ans)Gary
Jean-jacques Goldman,Jean-Jacques Goldman,11 octobre 1951 (71 ans)Paris (France)
Laetitia Larusso,Larusso (chanteuse),11 octobre 1979 (43 ans)Paris
Cardi B,Cardi B,11 octobre 1992 (30 ans)Bronx
Moby,Moby,"11 septembre 1965 (57 ans)New York, États-Unis"
Kygo,Kygo,"11 septembre 1991 (31 ans) Singapour[1],[2]"
Samuel,Samuel,1102 av. J.-C.Rama
Jean-louis Aubert,Jean-Louis Aubert,"12 avril 1955 (67 ans)Nantua, France"
Sak Noel,Sak Noel,"12 avril 1983 (39 ans)La Cellera de Ter, Géron..."
Axel Tony,Axel Tony,"12 avril 1984 (38 ans)Colombes, Hauts-de-Seine"
Frank Sinatra,Frank Sinatra,"12 décembre 1915Hoboken (New Jersey), États-Unis"
Remady,Remady,"12 décembre 1977 (44 ans)Zurich, Suisse"
Tal,Tal (chanteuse),"12 décembre 1989 (32 ans)Hadera, Israël"
Marwa Loud,Marwa Loud,12 décembre 1996 (25 ans)Strasbourg
Mike Posner,Mike Posner,"12 février 1988 (34 ans)Détroit (Michigan, Éta..."
Melanie C,Melanie C,"12 janvier 1974 (48 ans)Whiston (Merseyside), ..."
Amerie,Amerie,12 janvier 1980 (42 ans) Fitchburg
Pixie Lott,Pixie Lott,12 janvier 1991 (31 ans)Bromley (Londres)
Gambi,Gambi,"12 janvier 1998 (24 ans)Fontenay-Sous-Bois, Fr..."
Zayn,Sami Zayn,"12 juillet 1984 (38 ans)[1],[2],[3]Québec, Ca..."
Gary Fico,Gary Fico,12 juillet 1986 (36 ans)Issy-les-Moulineaux
Natalie La Rose,Natalie La Rose,"12 juillet 1988 (34 ans)Amsterdam, Pays-Bas"
Robyn,Robyn,12 juin 1979 (43 ans)Stockholm
Kalash,Kalash (chanteur),"12 juin 1988 (34 ans)Strasbourg, France"
Kalash Criminel,Kalash (chanteur),"12 juin 1988 (34 ans)Strasbourg, France"
Michel Fugain,Michel Fugain,12 mai 1942 (80 ans)Grenoble
Art Meson,Anne Meson,12 mai 1975 (47 ans)Paris
Stromae,Stromae,"12 mars 1985 (37 ans) Etterbeek, Bruxelles (Be..."
Cylia,Cylia,12 mars 1987 (35 ans)Cannes
Laylow,Laylow,12 mars 1993 (29 ans)Toulouse
Maurane,Maurane,12 novembre 1960Ixelles (Belgique)
Ryan Gosling,Ryan Gosling,"12 novembre 1980 (42 ans)London, Ontario (Canada)"

In [268]:
artist["Naissance"].str.split(" ", expand=True)

,0,1,2,3,4,5,6,7,8,9,10
Artist,,,,,,,,,,,
Les Squatters,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yvonne S. Moriarty,31,janvier,1944,"(78 ans)Indianapolis,","(Indiana),",États-Unis,None,None,None,None,None
Madeon,30,mai,1994,"(28 ans)Nantes,",France,None,None,None,None,None,None
Pet Shop Boys,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
David Guetta,7,novembre,1967,(55 ans)Paris,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
Conkarah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Les Wampas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ls,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tom Novy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Desaparecidos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Commune france

In [269]:
region = pd.read_csv("../france/departements-france.csv")
commune = pd.read_csv("../france/communes-departement-region.csv")
departement = pd.read_csv("../france/departements-france.csv")
nb_habitant = pd.read_csv("../france/nb_habitant.csv")

commune = commune.merge(nb_habitant[["Ville", "nb_habitant"]], left_on="nom_commune", right_on="Ville")
commune["nb_habitant"] = commune["nb_habitant"].str.replace(" ", "")
commune["nb_habitant"] = commune["nb_habitant"].astype("int")

In [270]:
commune.head(3)

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region,Ville,nb_habitant
0,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.960848,5.372926,4.0,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.0,Auvergne-Rhône-Alpes,Ambérieu-en-Bugey,14134
1,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,45.996180,4.912273,5.0,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.0,Auvergne-Rhône-Alpes,Ambérieux-en-Dombes,1751
2,1006,AMBLEON,1300,AMBLEON,NaN,45.749499,5.594320,6.0,NaN,Ambléon,Ambléon,1,Ain,84.0,Auvergne-Rhône-Alpes,Ambléon,112

In [271]:
artist["Region"] = " "
for r in tqdm(region["nom_region"]):
    artist.loc[artist["Naissance"].str.lower().str.contains(r.lower(), na=False), "Region"] = r

100%|██████████| 101/101 [00:00<00:00, 465.66it/s]

In [272]:
artist["Commune"] = " "
for c in tqdm(commune[commune["nb_habitant"] > 2000]["nom_commune"]):
    artist.loc[artist["Naissance"].str.lower().str.contains(c.lower(), na=False), "Commune"] = c

100%|██████████| 6980/6980 [00:15<00:00, 452.42it/s]

In [273]:
artist["Departement"] = " "
for d in tqdm(departement["nom_departement"]):
    artist.loc[artist["Naissance"].str.lower().str.contains(d.lower(), na=False), "Departement"] = d

100%|██████████| 101/101 [00:00<00:00, 450.06it/s]

In [274]:
artist["Departement"].value_counts()

                       2006
Paris                    74
Ain                      31
Hauts-de-Seine           14
Rhône                    14
Seine-Saint-Denis        13
Nord                     11
Val-d'Oise               10
Val-de-Marne              7
Yvelines                  7
Guadeloupe                6
Essonne                   5
Seine-et-Marne            4
Loiret                    4
Alpes-Maritimes           4
Var                       3
Gard                      3
Seine-Maritime            3
Aude                      3
Guyane                    3
Loire                     3
Martinique                2
Finistère                 2
Somme                     2
Sarthe                    2
Marne                     2
Aisne                     2
Moselle                   2
Calvados                  2
Eure                      2
Oise                      2
Pas-de-Calais             2
Vaucluse                  1
Gironde                   1
Cher                      1
Haute-Corse               1
Dordogne                  1
Côte-d'Or                 1
Aveyron                   1
Isère                     1
Tarn-et-Garonne           1
Yonne                     1
Haut-Rhin                 1
La Réunion                1
Meuse                     1
Haute-Savoie              1
Maine-et-Loire            1
Lot                       1
Côtes-d'Armor             1
Deux-Sèvres               1
Haute-Garonne             1
Gers                      1
Vosges                    1
Pyrénées-Orientales       1
Name: Departement, dtype: int64

In [275]:
artist[artist["Departement"] == "Rhône"][:50]

,Artist_wiki,Naissance,Pays d'origine,Origine,Nationalité,Pays,distance,distance_norm,Region,Commune,Departement
Artist,,,,,,,,,,,
Marina Kaye,Marina Kaye,"9 février 1998 (24 ans)Marseille, Bouches-du-R...",NaN,NaN,NaN,NaN,0,0.000000,,,Rhône
Naps,Naps,"15 février 1986 ou 27 juillet 1991Marseille, B...",NaN,NaN,NaN,NaN,0,0.000000,,,Rhône
Imany,Imany,"5 avril 1979 (43 ans)Martigues, Bouches-du-Rhô...",NaN,NaN,NaN,NaN,0,0.000000,,Martigues,Rhône
Sifax,Naps,"15 février 1986 ou 27 juillet 1991Marseille, B...",NaN,NaN,NaN,NaN,5,1.000000,,,Rhône
Soprano,Soprano (rappeur),14 janvier 1979 (43 ans)Marseille (Bouches-du-...,NaN,NaN,française,NaN,10,1.428571,,,Rhône
Mickaël Miro,Mickaël Miro,"8 novembre 1978 (44 ans)Villeurbanne, Rhône( F...",NaN,NaN,NaN,NaN,0,0.000000,,Eu,Rhône
Louisy Joseph,Louisy Joseph,14 avril 1978 (44 ans)Vénissieux (Rhône),NaN,NaN,NaN,NaN,0,0.000000,,Eu,Rhône
Alonzo,Alonzo (rappeur),"25 juillet 1982 (40 ans)Marseille, Bouches-du-...",NaN,NaN,NaN,NaN,10,1.666667,,,Rhône
Soso Maness,Soso Maness,"21 mars 1987 (35 ans)Marseille, Bouches-du-Rhône",NaN,NaN,NaN,NaN,0,0.000000,,,Rhône
L'algerino,L'Algérino,"2 mai 1981 (41 ans)Marseille, Bouches-du-Rhône...",NaN,NaN,NaN,NaN,2,0.200000,,,Rhône
Coralie Clément,Coralie Clément (chanteuse),1er septembre 1978 (44 ans)Villefranche-sur-Sa...,NaN,NaN,NaN,NaN,12,0.800000,,Villefranche-sur-Saône,Rhône
Woodkid,Woodkid,16 mars 1983 (39 ans)Tassin-la-Demi-LuneRhône-...,NaN,NaN,NaN,NaN,0,0.000000,,Tassin-la-Demi-Lune,Rhône
Akhenaton,Akhenaton (rappeur),17 septembre 1968 (54 ans)Marseille (Bouches-d...,NaN,NaN,NaN,NaN,10,1.111111,,,Rhône
Louis Delort,Louis Delort,"5 août 1993 (29 ans)Écully, Rhône",NaN,NaN,NaN,NaN,0,0.000000,,Écully,Rhône

In [276]:
chart[chart["Artist"] == "Orelsan"]

,Artist,Music,Artist_wiki_x,Naissance_x,Pays d'origine_x,Origine_x,Nationalité_x,Pays_x,Artist_wiki_y,Naissance_y,Pays d'origine_y,Origine_y,Nationalité_y,Pays_y
53,Orelsan,La Quête,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
6,Orelsan,Jour Meilleur,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
29,Orelsan,L'odeur De L'essence,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
45,Orelsan,Du Propre,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
123,Orelsan,Shonen,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
127,Orelsan,Casseurs Flowters Infinity,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
39,Orelsan,Cp_009_ E´videmment,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
108,Orelsan,Tout Va Bien,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
112,Orelsan,Basique,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
30,Orelsan,La Pluie,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
6,Orelsan,Rãªves Bizarres,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
42,Orelsan,"La Famille, La Famille",Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
45,Orelsan,Mes Grands-parents,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
46,Orelsan,Epilogue (la Fãªte Est Finie),Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
54,Orelsan,Fantã´mes,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
55,Orelsan,Adieu Les Filles,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
62,Orelsan,Dis-moi,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
63,Orelsan,Discipline,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
66,Orelsan,Excuses Ou Mensonges,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
67,Orelsan,Tout Ce Que Je Sais,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
87,Orelsan,Défaite De Famille,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
5,Orelsan,Seul Avec Du Monde Autour,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
7,Orelsan,Rêve Mieux,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
9,Orelsan,Baise Le Monde,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
10,Orelsan,Bébéboa,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
11,Orelsan,Manifeste,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
14,Orelsan,Ensemble,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
15,Orelsan,Civilisation,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
16,Orelsan,Athéna,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
17,Orelsan,Dernier Verre,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
163,Orelsan,Suicide Social,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
16,Orelsan,La Terre Est Ronde,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
82,Orelsan,Ils Sont Cools,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN
93,Orelsan,Paradis,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN,Orelsan,1er août 1982 (40 ans)Alençon (France),NaN,NaN,NaN,NaN

In [277]:
chart.groupby("Artist")["Music"].count().sort_values(ascending=False)[0:50]

Artist
Jul                    102
Booba                   49
Ninho                   48
David Guetta            46
Sch                     43
Rihanna                 40
Maitre Gims             39
Kaaris                  35
Timal                   34
Orelsan                 34
Johnny Hallyday         33
Dadju                   32
Soprano                 31
Leto                    30
Mylène Farmer           28
Aya Nakamura            27
Lady GaGa               27
M. Pokora               26
Damso                   26
Djadja et Dinaz         25
PNL                     25
Madonna                 24
Katy Perry              23
Drake                   23
Black M                 22
Niska                   22
Lacrim                  22
P!nk                    22
The Black Eyed Peas     21
Freeze Corleone         21
Stromae                 20
Lana Del Rey            20
Beyoncé                 20
Tayc                    20
Lomepal                 20
Calvin Harris           20
Ed Sheeran              20
Nekfeu                  20
Jenifer                 19
Kendji Girac            19
Celine Dion             19
Bébé Lilly              19
Plk                     19
Maroon 5                18
Coldplay                18
Maes                    18
Chris Brown             18
Gazo                    18
Naps                    17
Justin Bieber           17
Name: Music, dtype: int64